/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 86px;
  padding-bottom: 15px;
}

.jumbotron{
    padding:25px;
}

.huge-map{
    min-height:500px;
    min-width:960px;
    width:100%;
    margin-top:25px;
    border:1px solid #ddd;
    padding:20px 10px;
}

.huge-map svg{
    display:block;
    margin:0px auto;
}

.main-drop{
    padding:10px;
    width:100%;
    border:1px solid #ddd;
    border-radius:4px;
}